{# Author: Felipe Rodríguez Valenzuela #}
<html>
    <head>
        <meta charset="utf-8">
        <script src="{{ asset('bundles/lfpstructuralanksmain/jmol/jmol.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div>
            <script>
                jmolInitialize("{{ asset('bundles/lfpstructuralanksmain/jmol/JmolApplet0.jar') }}");
                jmolSetCallback("UseCommandThread","true");
                jmolSetParameter("UseCommandThread","true");
            </script>
            <object name="jmol" id="jmol" code="JmolApplet" archive="{{ asset('bundles/lfpstructuralanksmain/jmol/JmolApplet0.jar') }}" width="400" height="333" type="application/x-java-applet">
                <param name="progressbar" value="true">
                <param name="bgcolor" value="#000000">
                <param name="style" value="wireframe">
                <param name="script" value="load {{ asset('bundles/lfpstructuralanksmain/jmol/anksdb/Complejos/' ~ pdb.pdbId|upper ~ '.pdb.done/renum_' ~ pdb.pdbid|upper ~ '.pdb') }}; {{ ('bundles/lfpstructuralanksmain/jmol/anksdb/Complejos/'~pdb.pdbId|upper~'.pdb.done/'~pdb.pdbId|upper~'.pdb_renum_cfrst.jmol')|getContents }}">
                <param name="wireframeRotation" value="false">
                <param name="perspectiveDepth" value="false">
            </object>
        </div>
        <script>
            
            jmolRadioGroup([
                ["select *;color cpk","cpk","isChecked"],
                ["select *;color green","green"],
                ["select *;color red","red"]
            ],"<br>");
        </script>
    </body>
</html>