{%extends "LFPStructuralAnksMainBundle::base.html.twig"%}

{%set current = 'Home'%}
    
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lfpstructuralanksmain/js/highstock.js ') }}" type="text/javascript"></script>    
    <script src="{{ asset('bundles/lfpstructuralanksmain/js/modules/exporting.js ') }}" type="text/javascript"></script>    
    <script src="{{ asset('bundles/lfpstructuralanksmain/jmol/jmol.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lfpstructuralanksmain/jmol/seqview.js') }}" type="text/javascript"></script>

    {% if chartOptions.showChart %}{#http://www.highcharts.com/docs   HighStock#}
    {% include 'LFPStructuralAnksMainBundle:Home:jscharts.html.twig' with {'options':chartOptions}%}
    {%endif%}
    
    
{% endblock %}
    
{% block stylesheets %}
    {{ parent() }}

{% endblock %}



{%block container%} 

<h2>{{pdb.pdbId | lower}} {{chain.chain}} Molecule: {{chain.protein.entryName}} </h2>
<div>
{#Protein Names: {{chain.protein.proteinNames}} <br>#}
{#Entry Name: {{chain.protein.entryName}}<br>    #}
Organism: {{chain.protein.organism}} <br>
Uniprot ID: <a href="http://www.uniprot.org/uniprot/{{chain.protein.uniprot}}" target=blank rel="nofollow"> {{chain.protein.uniprot}}</a> <br>
Missing Residues: {{chain.missingRes | length}} <br>
{% if chain.observations in 'Darpin' %}
Type: Synthetic Ankyrin Repeat Protein <br>
{% elseif chain.subGroup=='Ank'%}
Type: Natural Ankyrin Repeat Protein <br> 
{%else%}
Type: Non-Ankyrin Repeat Protein <br>
{% endif %} 

</div>    
    
<h2>{{pdb.pdbId | lower}} {{chain.chain}} structural properties </h2>
<br />
<div class="div-center" id="head-table-container">
    <table id="head-table">
        <tr>
            <th>PdbID</th>
            <th>Chain</th>
            <th>Length</th>
            <th>Type</th>
            <th>Rgyr</th>
            <th>Tileability</th>
            <th>Contact Order</th>
            <th>SASA</th>
            <th>ICS Repeats</th>    
        </tr>
        <tr>
            <td>{{pdb.pdbId}}</td>
            <td>{{chain.chain}}</td>
            <td>{{chain.residues|length}}</td>
            <td>{{chain.type}}</td>
            {%if chain.chainStructuralProperties is not null%}
                {%if chain.chainStructuralProperties.rGyr is not null%}
                <td>{{chain.chainStructuralProperties.rGyr}}</td>
                {%else%}
                <td>---</td>
                {%endif%}
                {%if chain.chainStructuralProperties.tileability is not null%}
                <td>{{chain.chainStructuralProperties.tileability}}</td>
                {%else%}
                <td>---</td>
                {%endif%}
                {%if chain.chainStructuralProperties.contactOrder is not null%}
                <td>{{chain.chainStructuralProperties.contactOrder}}</td>
                {%else%}
                <td>---</td>
                {%endif%}
                {%if chain.chainStructuralProperties.sasa is not null%}
                <td>{{chain.chainStructuralProperties.sasa}}</td>
                {%else%}
                <td>---</td>
                {%endif%}
                {%if chain.chainStructuralProperties.icsRepeats is not null%}
                <td>{{ '%.4f'|format(chain.chainStructuralProperties.icsRepeats)}}</td>
                {%else%}
                <td>---</td>
                {%endif%}
            {%else%}
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            {%endif%}
            
        </tr>
    </table>
</div>
<br />
<div class="show-image">
    <h2>Protein Tiling </h2>    
    <div id="chain_tiling"><img src="{{ asset('bundles/lfpstructuralanksmain/jmol/anksdb/data_img/chain_img/Delta_'~pdb.pdbId | lower~'_'~chain.chain~'_normalized.png') }}" width="450px" /></div>
</div>
<div class="show-image">    
    <h2> Energy Tiling </h2> 
    <div id="chain_phase"><img src="{{ asset('bundles/lfpstructuralanksmain/jmol/anksdb/data_img/chain_img/'~pdb.pdbId | lower~'_'~chain.chain~'_OutPut_FrstPhase.png') }}" width="450px" /></div>
</div>
<div class="show-image">    
    <h2>Repeats Logo at length 33 </h2> 
    <div id="chain_logo"><img src="{{ asset('bundles/lfpstructuralanksmain/jmol/anksdb/data_img/chain_img/Logo_'~pdb.pdbId | lower~'_'~chain.chain~'.png') }}" width="800px" /></div>
</div>
<br>
<br>
<br>
<div id="chart" style="min-width: 250px; height: 300px; margin: 0 auto"></div>


{%endblock%}
